# Warning do not delete this file. This will will be used by the script as a config template

# General settings
CLI_ALWAYS_UPDATE=""

# Linode API
LINODE_API_USERNAME=""
LINODE_API_PASSWORD=""
LINODE_API_KEY=""
LINODE_API_URL=""
LINODE_API_PORT=""

# Digitalocean API
DIGITALOCEAN_USERNAME=""
DIGITALOCEAN_API_PASSWORD=""
DIGITALOCEAN_API_KEY=""
DIGITALOCEAN_API_URL=""
DIGITALOCEAN_API_PORT=""

# Directadmin API
DIRECTADMIN_API_USERNAME=""
DIRECTADMIN_API_PASSWORD=""
DIRECTADMIN_API_KEY=""
DIRECTADMIN_API_URL=""
DIRECTADMIN_API_PORT=""